<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 </head>
 <body style="background-color:#333399">
             <div style="position: absolute; width: 435px; height: 375px; z-index: 1; left: 79px; top: 196px" id="layer1">
             <div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">

                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Change Your Password</h2>

                  <div class="panel-body">

                    <form  class="form" method="post">{% csrf_token %}

                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-unlock"></i></span>
                          {{ form.new_password1 }}
                        </div>
                            <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-key"></i></i></span>
                          {{ form.new_password2 }}
                        </div>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
</div>

				<div style="position: absolute; width: 174px; height: 78px; z-index: 2; left: 580px; top: 71px ;background-color:white;border-radius:5%" id="layer2">
<img border="0" src="/media/Cdac_logo.png" width="174" height="78"></div>

</body>
</html>