<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">

 </head>
 <body style="background-color:#333399">
 <div style="text-align:center; margin-top:20px"  id="layer20">
<div  style="position:absolute;z-index:2;right:20%;width:60%;" id="layer1">

<div class="row"><div class="col-sm-12" style="margin-top:130px">
    <div class="card">

  <h5 class="card-header info-color white-text text-center py-4" style="
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
">
    <strong>Enter Registered Email</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-sm-12 pt-0">
      <div class="row" style="    margin-left: 0px;
    margin-right: 0px;">

  <div class="col-sm-6" style="background-color:white;padding-bottom: 43px">
         <br><br><br><br>
      <img src="/media/Cdac_logo.png" width="50%" height="80">
      <br>
      <p style="font-family:Roboto;font-size:12pt"><br>Forget Password?<br>&nbsp You can reset your password here.</p>

</div>
          <div class="col-sm-6" style="background-color:white;padding-bottom: 33px"><br>
               <h3 style="margin-top: 0px"><i class="fa fa-lock fa-4x"></i></h3>
    <!-- Form -->
    <form class="text-center" method="post" action="" style="color: #757575;">{% csrf_token %}
          <div class="form-group">
                        <div class="input-group col-sm-11">
                          {{ form.as_p }}
                        </div>
                      </div>
                      <div class="form-group">
                          <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
                      </div>
                    </form>
          </div>
    <!-- Form -->
  </div>
  </div>

</div>
    </div></div></div></div>

 <!--

             <div style="position: absolute; width: 435px; height: 375px; z-index: 1; left: 79px; top: 196px" id="layer1">
             <div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">

                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">

                    <form  class="form" method="post">{% csrf_token %}

                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          {{ form.as_p }}
                        </div>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
</div>

				<div style="position: absolute; width: 174px; height: 78px; z-index: 2; left: 580px; top: 71px ;background-color:white;border-radius:5%" id="layer2">
<img border="0" src="/media/Cdac_logo.png" width="174" height="78"></div>
-->
</body>
</html>