{% extends 'index.htm' %}


{% block body %}<div class="container-fluid" style="position:absolute;top:80px;z-index:1;width:100%;height:30%;">

	<img style="width:100.75%;left:-10px;right:-10px;height:200px;position:absolute;z-index:-1" src="/media/cdac6.jpeg">
	<div class="row">
		<div class="col-sm-3 mx-3"></div>
		<div class="col-sm-5 my-4" ><p align="center"><b><font color="#FFFFFF" size="6" face="Roboto">ABOUT</font></b></p></div>
	</div></div>




<div class="container" style="width: 80%;margin-top:150px; z-index: 2; background-color:white" id="layer2">
	<div class="row d-flex justify-content-center my-5"><h1 class="text-center" style="box-sizing: border-box; font-size: 36px; margin: 20px 0px 10px; font-family:Roboto; font-weight: 400; line-height: 1.1; color: rgb(51, 51, 51); text-align: center; font-style: Roboto; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
		About C-DAC ATC</h1></div>
	<div class="row">

		<div class="col-sm-3 d-flex justify-content-center"> <img border="0" src="/media/Cdac_logo.png" width="227" height="94"></div>
		<div class="col-sm-9 my-2"><span style="font-size: 11pt; color: rgb(119, 119, 119); font-family: 'Roboto', sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline; float: none; background-color: rgb(255, 255, 255)">
	<p align="justify">Centre for Development of Advanced Computing (C-DAC) is the premier R&amp;D
	organization of the Department of Electronics and Information Technology (DeitY),
	Ministry of Communications &amp; Information Technology (MCIT) for carrying out
	R&amp;D in IT, Electronics and associated areas. Different areas of C-DAC, had
		originatedat different times,many of which came out as a result of
	identification of opportunities.  </p></span></div>


</div>
	<div class="row"> <div class="col-sm-12"><span style="font-size: 11pt; color: rgb(119, 119, 119); font-family: 'Roboto', sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline; float: none; background-color: rgb(255, 255, 255)">
	<p align="justify">While C-DAC&nbsp;was being setup for the indigenous design, development and
	delivery of the supercomputing technologies for the country, the mandate given wasto
		not only develop the technologies</p></span> </div></div>

		<div class="row d-flex justify-content-center my-3"><h1 class="text-center" style="box-sizing: border-box; font-size: 36px; margin: 20px 0px 10px; font-family: Roboto;Roboto&quot;, sans-serif; font-weight: 400; line-height: 1.1; color: rgb(51, 51, 51); text-align: center; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
		About Netcom</h1></div>
	<div class="row">

		<div class="col-sm-3 d-flex justify-content-center"> <img border="0" src="../media/NETCOM.jpg" width="235" height="140"></div>
		<div class="col-sm-9 my-4"><p align="justify"> <span style="font-size: 11pt; color: rgb(119, 119, 119); font-family: 'Roboto', sans-serif; font-style: Roboto; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline; float: none; background-color: rgb(255, 255, 255)">

		NETCOM is authorized training center of the C-DAC, which is known for
		its 100% placement records and high class training methods in state of
		art infrastructure. NETCOM is commoited to deliver high class training
		with industry experts.With latest labs and practicals approch of the
		training, students are getting placed in every area of IT domain.NETCOM
		is having own software Development Company &quot;NetParam Technology Pvt.Ltd.&quot; Which is completely involved inn IT products and service delivery.
		  </span></p></div>
	</div>
	<div class="row"> <div class="col-sm-12"><p align="justify"> <span style="font-size: 11pt; color: rgb(119, 119, 119); font-family: 'Roboto', sans-serif; font-style: Roboto; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline; float: none; background-color: rgb(255, 255, 255)">
		NPTL develops world class Websites,Application, Android Apps , Cloud Based Hybrid Mobile apps &amp; Big Data and Analysis. It works for the government
		and private projects and here the resources are placed feom the top of
		the world. It is one of the most comprehension and global leader in IT
		services that helps its clients to simplify, strengthen and transform
		their business.</span></p></div></div>

</div>


	{% endblock %}