{% extends 'index.htm' %}
{% block body %}
<div class="container-fluid" style="background-color: rgba(255, 255, 255, 0.1);margin-top: 100px ">
    <hr style="background-color:#003399;height:2px;margin-top:-39">
</div>
<div class="row" style="margin-top:50px">
    
    <div class="col-sm-3"
         style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);margin-left:8%;margin-right:3%;margin-bottom:70px;text-align: center;">
        <img src="/media/dir.jpg" alt="John" style="width:100%">
        <br>
        
        <h1>John Doe</h1>
        <p><font face="Roboto" color="#C0C0C0"><span style="font-size: 18px;">DIRECTOR</span></font></p>
        <p><b>CDAC Jaipur</b></p>
    </div>
    
    
    <div class="col-sm-7">
        <div class="row d-flex justify-content-center " style="margin-top:10px">
            <h1>Director's Message</h1>
        </div>
        <div class="row">
            
            <p style=" font-family:Roboto; font-size: 14pt;  padding:30px">
                will interact among yourselves throughout the globe, wherever you are. Our
                alumni continue to bring laurels to our institute. The institute on its part
                is keen to strengthen the bonds with its alumni. I am very happy to see the
                alumni are working well to move our Institute to go ahead. The recent
                meetings and get-together all around the globe are re-kindling the sense of
                companionship among the alumni.<br style="box-sizing: border-box;">
                Through this website, we have developed to open up channels of communication
                with our alumni so that they can be well connected with the students and
                Institute. Finally, I always have one message since my inception at JECRC,
                Do everything to keep the name and fame of the JECRC high.
                <br>
                Wishing
                you best for this step to bring alumni closer to their past
                
                <a href="/a">download resume</a>
            </p>
        
        
        </div>
    </div>
    
    
    {% endblock %}