{% load staticfiles %}
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">




<link rel="stylesheet" href="{% static 'form.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'jobform/css/montserrat-font.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jobform/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">
<link rel="stylesheet" href="{% static 'jobform/css/style.css' %}"/>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">

<link rel="stylesheet" href="{% static 'strip.css' %}" type="text/css" media="all">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>


<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<style>
.dropdown-toggle::after{ display:None;}
.collapsible {
  background-color: #0713A3;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,.collapsible:hover {

}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
}


.but {
 	display: inline-block;
	padding: 10px 14px;
	color: #FFF;
	border: 1px solid #FFF;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color 400ms ease;
	-moz-transition: background-color 400ms ease;
	transition: background-color 400ms ease;
	cursor: pointer;}

.but:hover {
  background-color: black;
  color: white;
}



.nav-item:hover{
  border-bottom: blue 3px solid;

}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/media/ll.gif') 50% 50% no-repeat rgb(249,249,249);

}
</style>

     <script type="text/javascript">
$(window).load(function() {
    $(".loader").fadeOut("slow");
});
</script>
</head>

<body style="background-color:#EDEFEF;height:300px">
<div class="loader"></div>
<div class="container-fluid">
    <div class="row">
<nav class="navbar navbar-expand-lg navbar-light" id="navbar-example2" style="position:fixed;background-color:white;width:100%;font-size:12pt;font-family:Railway Regular;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <img border="0" src="/media/Cdac_logo.png" width="180" height="80">
      </ul>
      <ul class="navbar-nav mx-5">
     <li class="nav-item">
        <a style="padding-left:20px" class="nav-link" href="/" ><br><i id="icon" class="fas fa-home"></i><br>Home</a>
      </li>
     <li class="nav-item">
        <a style="padding-left:20px" class="nav-link" href="/validj" ><br><i id="icon" class="fas fa-briefcase"></i><br>Jobs</a>
      </li>
           <li class="nav-item">
        <a style="padding-left:20px" class="nav-link" href="/network"><br><i id="icon" class="fas fa-users"></i><br>Network</a>
      </li>
       <li class="nav-item" style="">
        <a style="padding-left:20px" class="nav-link" href="/validp" ><br><i id="icon" class="fas fa-user"></i><br>My Profile</a>
      </li>

          <li class="nav-item">
        <a style="padding-left:20px" class="nav-link" href="/batch"><br><i id="icon" class="fas fa-user-friends"></i><br>Batchmates</a>
      </li>
           <li class="nav-item">
        <a style="padding-left:20px" class="nav-link" href="/year"><br><i id="icon" class="fas fa-book-open"></i><br>Yearbook</a>
      </li>




         <li class="nav-item">
        <a style="padding-left:20px" class="nav-link" href="/message"><br><i id="icon" class="fas fa-comment"></i><br>Message</a>
      </li>
       <li class="nav-item">
        <a style="padding-left:20px" class="nav-link" href="/logout"><br><i id="icon" class="fas fa-power-off"></i><br>Logout</a>
      </li>




    </ul>
  </div>
    </nav></div></div>


{% include '_modal.html' %}

 <div class="container-fluid" style="position:absolute;z-index:-1" id="layer1">
     <img src="/media/alumnibanner.jpg" width="100%" height="25%" style="position:absolute;z-index:-1;left:0px;margin-top:50px">
	<div class="row">
        <div class="col-sm-12" style="margin-top:300px"></div>
    </div>
     <div class="row" style="padding: inherit;">
        <div class="col-md-4" style="background-color:white;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);height:400px"><p align="center"><img class="my-4" border="0" src="/media/{{ obj.Profile_photo }}" width="217px" height="200px" style="border-radius:50%"></p>
<br>
            <p align="center"><font face="Roboto"><font size="5"><b>{{ obj.First_name }} {{ obj.Last_name }}</b></font></font><br>
            <font color="#666666" face="Roboto" size="4">Class of {{ obj.Batch }}<br>Alumni No : {{ obj.id }}</font><br><a href="/rmaker"><i class="fas fa-pen"></i>&nbsp;&nbsp;Edit Resume</a></div>

        <div class="col-md-8" style="position:relative;">
            <div class="row" style="background-color:white;margin: auto;
    margin-top:7px; position:relative;right:0px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); margin-bottom:3px;">
                <div class="col-sm-12 my-3" >
                    <div class="row">
                        <div class="col-11">
                <i class="fas fa-info-circle" style="font-size:20px"></i>&nbsp;&nbsp;<font  face="Roboto" size="5">Contact Information </font>
                        </div>
                        <div class="col-1"><font size="4" color="#000099"><a data-id="{% url 'editcontact' obj.id %}" class="edit"><i class="fas fa-pen"></i></a></font></div>
                    </div>
                <hr>

                <i class="far fa-envelope mx-5">&nbsp;&nbsp;<font size="4"></font>
<a href="mailto:kunagg25@gmail.com"><font size="4" face="Roboto">{{ obj.Email }}</font></a></i>
                    <br><br>
                    <i class="fas fa-mobile-alt mx-5"><font size="4">&nbsp;&nbsp;</font><font size="4" face="Roboto" color="#808080">&nbsp;{{ obj.Mobile_no }}<br>
                    </font></i><br><br><i class="fa fa-map-marker-alt mx-5"><font color="#808080" size="4" face="Roboto">&nbsp;&nbsp;
{{ obj.Address }}</font></i>

</div></div>
            <div class="row"><div class="col-sm-12"><br></div> </div>
     <div class="row" style="position:relative; margin-right: 15px;
    margin-left: -10px; background-color:white;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);left:12px">
                <div class="col-sm-12 my-3">
                    <div class="row"><div class="col-11">
                <i class="fas fa-info-circle" style="font-size:20px"></i>&nbsp;&nbsp; </font><font face="Roboto" size="5">Cdac Life</font>
                </div>
                    </div>
                <hr>

                <i class="fas fa-user-graduate mx-5">&nbsp;&nbsp;<font size="4"></font>
<font size="4" face="Roboto">{{ obj.Role }}</font></i>
                    <br><br>
                    <i class="fab fa-android mx-5"><font size="4">&nbsp;&nbsp;</font><font size="4" color="#808080" face="Roboto">&nbsp;{{ obj.Technology }}<br>
                    </font></i><br><br>

</div>
            </div>



        </div>


    </div>
     <div class="row mx-1 my-2">
         <div class="col-md-4">
             <div class="row">
                 <div class="col-md-12">
            <a href="/applied_by_me" class="btn btn-primary btn-primary" style="font-weight:700;background-color:#000066;margin-left:0px">
<font color="#000000" face="Roboto"></font>
<font color=white face="Roboto">Jobs applied</font></a> <br>
             <a href="/postedjob" class="btn btn-primary btn-primary" style="font-weight:700;background-color:#000066;margin-left:0px">
<font color="#000000" face="Roboto"></font>
<font color=white face="Roboto">Jobs posted</font></a>
                 </div></div>
             <div class="row" style="background-color:white;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);margin-top:10px" id="myprof">
                 <div class="col-sm-11 my-2" ><p ></p><font face="Roboto"  size="4"><b>&nbsp;<i class="fas fa-users">&nbsp;&nbsp;&nbsp; </i>Network({{ count }})&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</b><a href="/users/">Add People</a></font></div>
             </div>
             <div class="row" style="background-color:white;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);" id="myprof">


    {% for f, c, a, b in friend %}
                 <div class="col-2">
                     <br>
<img border="0" src="/media/{{ c }}" width="50" height="50" style="border-radius:50%">
</div>
<div class="col-8">
			<font face="Roboto">



<br>
                &nbsp;&nbsp;<a href="/uprof/{{ f.user }}"><font size="4" color="#000000">{{ a }} {{ b }}</font></a></font></div>
                 <div class="col-2 my-2">
                     <br>
                <a class="send" data-id="{% url 'messageview' f.user.username %}" ><i class="fas fa-envelope" style="color:#003399"></i></a><br>
</div>


<br>


	{% endfor %}
<div class="col-sm-12">
	<p align="center" style="font-size:14pt">
		{% if count > 3 %}
		   <a style="align:center" href="/allfriends/">see all</a>
		   {% endif %}
    </p></div>
             </div>

         </div>

         <div class="col-md-8">


             <div class="row" style="margin: auto;background-color:white;position:relative;right:0px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);top:10px; margin-bottom:3px;">
                <div class="col-md-12 my-3" >
                    <div class="row">
                        <div class="col-11">
                <i class="fas fa-graduation-cap" style="font-size:20px"></i>&nbsp;&nbsp;&nbsp;<font size="5">Education</font></div>
                <div class="col-1"><font size="4" color="#000099"> <a data-id="{% url 'edueditv' obj.id %}" class="edit ml-auto"><i class="fas fa-pen"></i></a></font></div>
                    </div>

                <hr>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font size="4">{{ obj.College }}</font>
                    <br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="4" color="#808080">&nbsp;{{ obj.Degree }}<br>
                    </font><br><font color="#808080" size="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{ obj.Department }}</font>

</div>
            </div>




         </div></div></div>
 <br>









<div class="modal fade top" id="modalCookie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-sm-5 d-flex justify-content-center align-items-center">

          <p class="pt-3 pr-2" style="font-family:Roboto;font-size:12pt">Your message has been sent successfully</p></div>
          <div class="col-sm-2 d-flex justify-content-center align-items-center">
            <a type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Ok, thanks</a>
        </div></div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>













<!--Accordion wrapper-->
{% if s %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#modalCookie1").modal('show');
    });
</script>
{% endif %}

<script src="{% static 'js/main.js' %}"></script>


      <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

		<script type="text/javascript">
		 $(function () {
		 $(".send").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      });
 $(function () {
		 $(".edit").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      });

   $(function () {
		 $(".btn").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      });
</script>


</body>
</html>


