{% extends "base.html" %}


{% block body %}

<br>
<br>

{% if ycount %}

          <div class="row mx-4" style="margin-top:70px">
{% for user_p, o, b, c, f, l, bat, t in my %}


          <div class="col-sm-3 col-lg-3 d-flex justify-content-center my-2" style="vertical-align:middle">
              <div class="flip-card">
  <div class="flip-card-inner" >
    <div class="flip-card-front">
      <img src="/media/{{ c }}" alt="Avatar" style="width:150px;height:150px;border-radius:50%">
        <p align="center"><br> <h4><b>{{ f }} {{ l }}</b></h4>

</p>
    </div>
    <div class="flip-card-back">
        <br>
        <br>
        <br>
        <br>

      <h1 style="font-family:Roboto"><a href="/uprof1/{{ o.id }}">{{ f }} {{ l }}</a></h1>
      <p>Batch :{{ bat }}</p>
      <p style="font-family:Roboto">Technology : {{ t }}</p>
           <font color=white face="Arial Rounded MT Bold">
                {% if b == 'not_friend' %}
	<a href="/friend-request_s/send/{{ user_p.user.id }}/{{ querry }}" class="btn btn-primary btn-primary" style="font-weight:700;background-color:#000066"><i class="fa fa-plus"></i>
Add to Network</a>
            {% elif b == 'friend_request_sent' %}
                <a href="/friend-request_s/cancel/{{ user_p.user.id }}/{{ querry }}" class="btn btn-primary btn-primary" style="font-weight:700;background-color:#CC0000"><span class="fa fa-plus"></span>
cancel request</a>

                {% endif %}
            </font>
    </div>
  </div>
</div>
              <br><br>
                            </div>


       {% endfor %}
       </div>

<div class="container">
	{% for obj in y %}

    <div class="row d-flex justify-content-center">

<div class="col-sm-9 ">

    {% if obj.Deadline >= today.date %}


    <div class="card">
    <div class="card-body">
    <b><font size="5">{{ obj.Job_title }} |</font></b>&nbsp; <font color="#D2DEDF">&nbsp;</font><font size="4" color="#225555">{{ obj.Company_name }}
	</font><br><br>

        <div class="row">
              <div class="col-1"></div>
            <div class="col-4">Location<br>{{ obj.Location }}</div>
            <div class="col-4">Deadline<br>{{ obj.Deadline }}</div>
            <div class="col-3">Salary<br>{{ obj.Salary }}</div>
        </div>
<br>
    <div class="row"><br><br>
        <div class="col-9"><font face="Roboto" color="#C6C8CA">&nbsp;&nbsp;&nbsp;&nbsp;<b>&nbsp;</b></font><b><font size="4" face="Roboto" color="#666666">Posted By:</font></b><font face="Times New Roman" color="#666666"><font size="4">&nbsp; {{ obj.Your_name }}</span>&nbsp;<br>
	</font>
	<b><font size="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ON: </font>
	<span style="font-weight: 400"><font size="4">{{ obj.Currentdate }}




</font></span></b></font></div>

	<div class="col-3">
<a href="/jobdetail/{{ obj.id }}" class="btn btn-primary btn-primary" style="font-weight:700;background-color:#000066;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;">
<font color="#000000" face="Roboto"></font>
<font color=white face="Roboto">Apply</font></a>

        &nbsp;</div></div></div>
  </div>
  <br>
    {% endif %}
</div></div>
	{% endfor %}
</div>


{% endif %}
{% if ycount == 0 %}

<p align="center" style="margin-bottom: 100px;margin-top: 100px"><img src="/media/no_result_491590.png" width="300" height="300"><br><br>
    <br><font size="5" >No Matching People or Job  Found</font><br>
Please make sure your keywords are spelled correctly</p>
{% endif %}



{% endblock %}




