

{% extends 'index.htm' %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div id="testimonial-slider" class="owl-carousel">
                <div class="testimonial">
                    <div class="pic">
                        <img src="images/img-1.jpg" alt="">
                    </div>
                    <p class="description">
                        C-DAC Advanced Computing Training School (ACTS) provides
	quality Post Graduate Diploma Programs for Information Communication
	Technology (ICT) skill requirements across industries. Aspirants can greatly
	benefit from C-DAC ACTS courses and build exemplary careers. As a Fortune
	500 company with over 170,000 employees worldwide, Johnson Controls
	appreciates C-DAC's contribution to preparing skilled manpower for the
	Building Technology and Solutions industry.
                    </p>
                    <h3 class="testimonial-title">
                        Williamson
                        <small class="post">Web Developer</small>
                    </h3>
                </div>

                <div class="testimonial">
                    <div class="pic">
                        <img src="images/img-2.jpg">
                    </div>
                    <p class="description">
  C-DAC Advanced Computing Training School (ACTS) provides
	quality Post Graduate Diploma Programs for Information Communication
	Technology (ICT) skill requirements across industries. Aspirants can greatly
	benefit from C-DAC ACTS courses and build exemplary careers. As a Fortune
	500 company with over 170,000 employees worldwide, Johnson Controls
	appreciates C-DAC's contribution to preparing skilled manpower for the
	Building Technology and Solutions industry.
                    </p>                    </p>
                    <h3 class="testimonial-title">
                        kristiana
                        <small class="post">Web Designer</small>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--

-->
{% endblock %}
<div class="container fluid">
	<div class="row" style="border-style:solid;border-width:1px">
		<div class="col-sm-3 my-4 d-flex justify-content-center"><img style="border-radius:50%;width:200px;height:200px" src="/media/test(1).jpeg"></div>
		<div class="col-sm-8 my-5"><span style="color: #666666; font-family: Roboto; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none">
		C-DAC Advanced Computing Training School (ACTS) provides
	quality Post Graduate Diploma Programs for Information Communication
	Technology (ICT) skill requirements across industries. Aspirants can greatly
	benefit from C-DAC ACTS courses and build exemplary careers. As a Fortune
	500 company with over 170,000 employees worldwide, Johnson Controls
	appreciates C-DAC's contribution to preparing skilled manpower for the
	Building Technology &amp; Solutions industry.</span><p>&nbsp;</p>
	<p>
	<span style="font-family: Roboto; color: #666666; letter-spacing: normal">&nbsp;Vaishali
	jindal<br>&nbsp;liet-Alwar</span></div>
  <p>&nbsp;</p></div>
	<div class="row" style="border-style:solid;border-width:1px">
		<div class="col-sm-3 my-4 d-flex justify-content-center"><img style="border-radius:50%;width:200px;height:200px" src="/media/test(1).jpeg"></div>
		<div class="col-sm-8 my-5"><span style="color: #666666; font-family: Roboto; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none">
		C-DAC Advanced Computing Training School (ACTS) provides
	quality Post Graduate Diploma Programs for Information Communication
	Technology (ICT) skill requirements across industries. Aspirants can greatly
	benefit from C-DAC ACTS courses and build exemplary careers. As a Fortune
	500 company with over 170,000 employees worldwide, Johnson Controls
	appreciates C-DAC's contribution to preparing skilled manpower for the
	Building Technology &amp; Solutions industry.</span><p>&nbsp;</p>
	<p>
	<span style="font-family: Roboto; color: #666666; letter-spacing: normal">&nbsp;Vaishali
	jindal<br>&nbsp;liet-Alwar</span></div>
  <p>&nbsp;</p></div>
	</div>

